  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightslategrey;
}
.content {
    padding: 50px;
    display: flex;
    justify-content: center;
}
.counter_block {
    width: 800px;
    height: 70vh;
    border: 3px solid rgb(219, 223, 23);
    padding: 20px;
    border-radius: 80px;
    text-align: center;
}

button {
    font-size: 35px;
    font-family: sans-serif;
    color: blueviolet;
    background: lightslategrey;
    border: none;
    font-weight: bold;
}

.numbers  {
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;

}
.numbers a{
    width: 35%;
    height: 40px;
    border: 2px solid rgb(188, 226, 18);
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;
    background: #39d8dd;
    cursor: pointer;
    transition: all 0.3s;
}
.reset {
    width: 300px;
    height: 50px;
    border: 2px solid blueviolet;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.5px;
    background: #406d7f;
    cursor: pointer;
    transition: all 0.3s;
}
.numbers a:hover {
    background: lightblue;
    color: midnightblue;
}
.reset:hover {
    background: lightblue;
    color: #242b2e;
}